{%- extends "layout.html.j2" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Ingest Dashboard</h1>
  </div>

  <ul>
      {% for pid, pinstance in plugins.items() %}
      <li>
        {{ pid }} -- {{pinstance.state}} -- {{pinstance.started_at.isoformat()}}
      </li>
      {% endfor %}
  </ul>
</div>
{%- endblock %}
