{# adapted from the flask-bootstrap sample app #}
{%- extends "bootstrap/base.html" %}
  {% block title %}CityXR Ingest
{% endblock %}
{% block head %}
  {{super()}}
{%- endblock %}
{% block styles -%}
  {{super()}}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{url_for('static', filename='app.css')}}"
  />
{% endblock %}
